@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat';
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    background-color: #F4F5FB;
}

.container_menu {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.container_menu_int {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.menu_desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu_mobile {
    display: none;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 560px;
}

nav {
    max-width: 280px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}

nav ul li a {
    color: #4A4A4A;
}

nav ul li a:hover {
    color: #7B23EE;
}

nav ul li a h2 {
    font-weight: bold;
    font-size: 14px;
}

.area_btn_header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #AD93EE;
    background-color: #7B23EE;
    border-radius: 20px;
    width: 180px;
    height: 40px;
}

.area_btn_header h2 {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.container_contact {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F4F5FB;
    padding: 60px 0px 60px 0px;
}

.container_contact_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title_contact h2 {
    font-size: 36px;
    color: #4A4A4A;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.title_contact h2 b {
    color: #7B23EE;
}

.sub_title_contact {
    width: 100%;
    max-width: 920px;
}

.sub_title_contact p {
    font-size: 22px;
    color: #4A4A4A;
    text-align: center;
}


.area_contact_form {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.widget_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 340px;
}

.email_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBEAFA;
    padding: 40px 60px 40px 60px;
    border-radius: 30px;

}

.email_contact img {
    margin-bottom: 20px;
}

.email_contact h2 {
    font-size: 18px;
    font-weight: bold;
    color: #7B23EE;
    margin: 0px;
    text-align: center;
}

.email_contact p {
    font-size: 14px;
    font-weight: 400;
    color: #4A4A4A;
    margin: 0px;
    text-align: center;
}

.form {
    width: 100%;
    max-width: 700px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infos_contact {
    display: flex;
    gap: 20px;
}

input {
    font-size: 14px;
    font-weight: 400;
    color: #ADADAD;
    height: 48px;
    background-color: #FCFCFE;
    outline: none;
    border: 1px solid #D3D3D3;
    width: 100%;
    border-radius: 10px;
    padding-left: 20px;
    max-width: 676px;
}

textarea {
    background-color: #FCFCFE;
    outline: none;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    padding: 20px;
    max-width: 658px;
    resize: none;
}

.area_enviar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #482080;
    border: 1px solid #7B23EE;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 45px;
    width: 100%;
    max-width: max-content;
    padding: 14px 40px 14px 40px;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    background-color: #662D91;
    width: 100%;
    padding: 60px 0px 40px 0px;
}

.container_footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container_footer_int {
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.area_1_footer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 260px;
    width: 100%;
}

.area_1_footer_texts {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.area_1_footer_texts h2 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0px;
}

.logo_footer {
    width: 195px;
}

.redes_sociais {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.redes_sociais h2 {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.area_redes_sociais {
    display: flex;
    gap: 10px;
}


.area_2_footer {
    display: flex;
    width: 100%;
    max-width: 250px;
}

.area_2_footer_texts {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.area_2_footer_texts h2 {
    color: #fff;
    font-weight: 400;
    margin: 0px;
    font-size: 16px;
}

.area_2_footer_texts a {
    text-decoration: none;
    color: #fff;
}

.active {
    font-weight: bold !important;
}

.area_3_footer {
    display: flex;
    width: 100%;
    max-width: 250px;
}

.area_3_footer_imgs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.area_3_footer_imgs h2 {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}


@media(max-width: 1024px) {
    .menu_desktop {
        display: none;
    }

    .menu_mobile {
        display: flex;
        width: 100%;
    }

    .area_menu_mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        padding: 0px 20px;
    }

    .menu_mobile_total {
        display: none;
        transition: top 1s ease;
        width: 100%;
        position: absolute;
        background-color: #F4F5FB;
        right: 0;
        top: -100px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: block;
    }

    .menu_mobile_total nav ul li a {
        color: #4A4A4A;
        text-transform: uppercase;
    }

    nav ul li a h2 {
        font-weight: 400;
        font-size: 20px;
        margin: 10px 0px 5px 0px;
    }

    .line {
        border-bottom: 1px solid #B391F5;
    }

    .btn_menu_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7B23EE;
        height: 68px;
        margin-top: 40px;
    }

    .menu_mobile_total a {
        width: 100%;
    }

    .menu_opener {
        display: flex;
        transition: all 1s ease;
    }

    .menu_close {
        transition: all 1s ease;
        display: none;
    }

    @keyframes move {
        0% {
            top: -100%;

        }

        100% {
            top: 100px;
        }

    }

    .btn_menu_mobile h2 {
        font-weight: bold;
        font-size: 20px;
        color: #fff;
    }


    .area_contact_form {
        flex-direction: column;
        align-items: center;
    }

    .area_enviar {
        justify-content: center;
        align-items: center;
    }

    .infos_contact {
        flex-direction: column;
    }

    .sub_title_contact p {
        font-size: 18px;
        padding: 0px 20px;
    }

    .area_footer {
        flex-direction: column;
        gap: 40px;
    }
}

@media(max-width: 480px) {
    nav ul li a h2 {
        font-size: 18px;
    }

    .container_contact {
        padding: 0px 0px 40px 0px;
    }

    .btn_menu_mobile {
        margin-top: 20px;
    }

    .title_contact h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .area_contact_form {
        padding: 20px 0px 20px 0px;
    }

    .form {
        max-width: 325px;
    }

    .form form {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .infos_contact {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    textarea {
        height: 260px;
        max-width: 305px;
    }

    footer {
        padding: 40px 0px 40px 0px;
    }
}